.Login{
    margin-left:0px;
    margin-right:0px;
    min-width: 100%;
    min-height: 100%;
}

.image-login{
    position: relative;
    padding: 0px;
}

.bg-image{
    background-image: url('../library.png');
    background-position: 50% 80%;
    width: 100%;
    height: 100%;
    left: 0;
    background-repeat: repeat-x; 
    background-size: 100%; 
    z-index: -1;
}

.form{
    padding: 30px 50px 0px 50px;
}

.loading{
    width: 1.4rem;
    height: 1.4rem;
}

.img{
    width: 100%;
    height: 100%;
    left: 0;
    background-repeat: repeat-x; 
    z-index: -1;
}

.logo{
    margin-top: 10px;
    width: 10vh;
    height: 10vh;
}

.logoTitle{
    position: absolute;
    top:40px;
    left:40px;
    font-family: Airbnb Cereal App Medium;
    font-size: 6vh;
    line-height: 10vh;

    color: #F9F9F9;
}

.bottomFooter{
    position: absolute;
    margin-bottom: 0px;
    top: 660px;
    left: 20px;

    font-family: Airbnb Cereal App Medium;
    font-style: normal;
    font-weight: bold;
    font-size: 2vh;
    line-height: 25px;

    color: #FFFFFF;
}

.title{
    font-family: Airbnb Cereal App Medium;
    font-size: 6vh;
    line-height: 85px;

    color: #424242;
}

.label{
    font-size: 14px;
    color: grey;
}

.desc-title{
    font-family: Airbnb Cereal App Medium;
    font-size: 2vh;
    line-height: 22px;

    color: #424242;
}

.form-input{
    height: 85px;

    background: #FFFFFF;
    /* Gray 5 */
    box-sizing: border-box;
    border-radius: 5px;
}

.remember{
    width: 163px;
    height: 35px;

    font-family: Airbnb Cereal App Medium;
    font-size: 2vh;
    line-height: 22px;

    color: #D0CCCC;
}

.forgot-password{
    cursor: pointer;
    position: absolute;
    left: 52px;
    font-family: Airbnb Cereal App Medium;
    font-size: 2vh;
    line-height: 22px;

    color: #424242;
}

.submit-lg{
    border-radius: 5px;
    width: 90px;
}

.submit-sg{
    background: #FFFFFF;
    border: 1px solid #D0CCCC;
    box-sizing: border-box;
    border-radius: 5px;
    width: 90px;
}

.term{
    position: absolute;
    margin-bottom: 0px;
    top:500px;

    font-family: Airbnb Cereal App Medium;
    font-size: 2vh;
    line-height: 22px;

    color: #D0CCCC;
}