.Signup{
    margin-left:0px;
    margin-right:0px;
}

.img{
    position: absolute;
    width: 881px;
    height: 100vh;
    left: 0;
    background-repeat: repeat-x; 
}

.logo{
    position: absolute;
    width: 10vh;
    height: 10vh;
    left: 88vh;
    top: 12px;
}

.logoTitle{
    position: absolute;
    width: 808px;
    height: 318px;
    left: -616px;
    top: 5vh;

    font-family: Airbnb Cereal App Medium;
    font-size: 6vh;
    line-height: 10vh;

    color: #F9F9F9;
}

.bottomFooter{
    position: absolute;
    margin-bottom: 0px;
    width: 378px;
    height: 30px;
    left: -640px;
    top: 95vh;

    font-family: Airbnb Cereal App Medium;
    font-style: normal;
    font-weight: bold;
    font-size: 2vh;
    line-height: 25px;

    color: #FFFFFF;
}

.title{
    position: absolute;
    width: 354px;
    height: 138px;
    left: 40vh;
    top: 18vh;

    font-family: Airbnb Cereal App Medium;
    font-size: 6vh;
    line-height: 83px;

    color: #424242;
}

.desc-title{
    position: absolute;
    width: 388px;
    height: 110px;
    left: 280px;
    top: 29vh;

    font-family: Airbnb Cereal App Medium;
    font-size: 2vh;
    line-height: 22px;

    color: #424242;
}

.form-username{
    position: absolute;
    width: 340px;
    height: 9.5vh;
    left: 280px;
    top: 39vh;

    background: #FFFFFF;
    /* Gray 5 */
    box-sizing: border-box;
    border-radius: 5px;
}

.form-fullname{
    position: absolute;
    border: none;
    width: 340px;
    height: 10vh;
    left: 280px;
    top: 48.5vh;

    background: #FFFFFF;
    /* Gray 5 */

    border: 1px solid #E0E0E0;
    box-sizing: border-box;
    border-radius: 5px;
}

.form-email{
    position: absolute;
    border: none;
    width: 340px;
    height: 10vh;
    left: 280px;
    top: 58.5vh;

    background: #FFFFFF;
    /* Gray 5 */

    border: 1px solid #E0E0E0;
    box-sizing: border-box;
    border-radius: 5px;
}

.form-password{
    position: absolute;
    border: none;
    width: 340px;
    height: 10vh;
    left: 280px;
    top: 68.5vh;

    background: #FFFFFF;
    /* Gray 5 */

    border: 1px solid #E0E0E0;
    box-sizing: border-box;
    border-radius: 5px;
}

.btn-login{
    position: absolute;
    width: 13vh;
    height: 5vh;
    left: 400px;
    top: 82vh;

    background: #FFFFFF;
    border: 1px solid #D0CCCC;
    box-sizing: border-box;
    border-radius: 5px;
}

.btn-sg{
    position: absolute;
    width: 13vh;
    height: 5vh;
    left: 280px;
    top: 82vh;

    border-radius: 5px;
}

.term{
    position: absolute;
    margin-bottom: 0px;
    width: 327px;
    height: 63px;
    left: 280px;
    top: 90vh;

    font-family: Airbnb Cereal App Medium;
    font-size: 2vh;
    line-height: 22px;

    color: #D0CCCC;
}

.form-input{
    height: calc(1.5em + 0.0rem + 2px);
}

.formParent{
    position: absolute;
    width: 340px;
    height: 39vh;
    left: 280px;
    top: 39vh;

    background: #FFFFFF;
    box-shadow: 0px 4px 25px rgba(0, 0, 0, 0.25);
    border-radius: 5px;
}